<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="companyDb_local" connectionString="Data source =\_database\_20._12._19_HomeWork_Sql_LINQ_Company.db; Version = 3;"/>
  </connectionStrings>
</configuration>